@import "./utils/variables";

@import "./base/reset";
@import "./base/common";

@import "./components/header";
@import "./components/logo";
@import "./components/contacts";
@import "./components/button";
@import "./components/hero";
@import "./components/cards";
@import "./components/features";
@import "./components/team";
@import "./components/soc-list";
@import "./components/clients";
@import "./components/modal";
@import "./components/footer";
@import "./components/footer-form";

@import "./components/filter-list";
@import "./components/project-list";
