.cards-list__top-wrap:hover .cards-list__top-text {
  transform: translateY(0);
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  transition-duration: 250ms;
}
.cards-list__top-wrap {
  position: relative;
  overflow: hidden;
}
.cards-list__top-text {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  width: 100%;
  padding: 27px 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.cards-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
}
