.features {
  padding-top: 94px;
}
.features-list {
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.features-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin: 15px;
}
.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.feature-icon::before {
  content: "";
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  border: 1px solid transparent;
}

.feature-icon--satelite::before {
  content: "";
  background-image: url(../images/satelite.svg);
}

.feature-icon--clock::before {
  content: "";
  background-image: url(../images/clock.svg);
}

.feature-icon--diagram::before {
  content: "";
  background-image: url(../images/diagram.svg);
}

.feature-icon--astrounaut::before {
  content: "";
  background-image: url(../images/astronaut.svg);
}

.features-list,
.cards-list,
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
