.header {
  border-bottom: 1px solid #ececec;
  padding: 24px 0;

  & .container {
    display: flex;
    align-items: center;
  }
}

.header .link.current {
  color: var(--accent-color);

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-background-color);
    border-radius: 2px;
    left: 0;
    bottom: -32px;
  }
}

.header__logo {
  margin-right: 93px;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__link:not(:last-child) {
  margin-right: 50px;
}
