.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  text-align: center;
  margin: 0 auto;
}
.hero__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background: var(--accent-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--accent-white-color);
  padding: 10px 32px;
  border: none;

  &:hover,
  &:focus {
    background: #188ce8;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
    transition-duration: 250ms;
  }
}
