.team-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin: 15px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team {
  background-color: #f5f4fa;
}
.member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}
.member__position {
  line-height: 1.19;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}
.member__info {
  padding: 30px;
}
